In [135]:
import pandas as pd

### Load Data

In [136]:
years = ['2018','2019','2020','2021']
demands = [pd.read_excel(open('demands.xls', 'rb'), sheet_name=year) for year in years]

### Pre Processing

In [137]:
for i in range(len(years)):
     demands[i]["YEAR"]=int(years[i])
total_demands = pd.concat(demands)

In [138]:
total_demands

,SKU_ID,'01','02','03','04','05','06','07','08','09','10','11','12',TOTAL_FOR_YEAR,AVG_PER_MONTH,TRIGGER_QTY,MAXIMUM_QTY,QTY_ON_HAND,YEAR
0,NU802536,2839.0,1513.0,1639.0,1466.0,1484.0,1345.0,1812.0,1271.0,1625.0,1652.0,1297.0,1285.0,19228,1602.3,150.0,432,408,2018
1,14571184,12141.0,11562.0,10361.0,13413.0,9324.0,12707.0,8893.0,8776.0,7812.0,15865.0,17097.0,17987.0,145938,12161.5,1152.0,2304,1104,2018
2,RB038125,400.0,206.0,493.0,131.0,308.0,242.0,126.0,NaN,92.0,205.0,180.0,168.0,2551,212.6,24.0,48,0,2018
3,DS088381,954.0,636.0,678.0,330.0,528.0,360.0,546.0,492.0,534.0,948.0,3504.0,1026.0,10536,878.0,144.0,240,126,2018
4,DS088459,49.0,22.0,83.0,26.0,29.0,27.0,40.0,20.0,29.0,40.0,29.0,99.0,493,41.1,60.0,120,127,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3007,GS703250,NaN,NaN,NaN,NaN,NaN,NaN,12.0,99.0,21.0,39.0,24.0,23.0,218,18.2,56.0,112,60,2021
3008,WT420409,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,3,0.3,20.0,40,47,2021
3009,SQ336060,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.0,44,3.7,28.0,56,30,2021
3010,0SK00441,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,17,1.4,240.0,480,259,2021
3011,JC577640,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1,0.1,3.0,6,1,2021

In [139]:
##################### DO NOT DELETE #####################
# active_sku_ids = total_demands[total_demands['YEAR'] == 2021]['SKU_ID'].unique()
# total_demands = total_demands[total_demands['SKU_ID'].isin(active_sku_ids)]

In [140]:
assuta_items = pd.read_excel("Assuta_items.xlsx")
assuta_items

        SKU_ID Is_Assuta
0     AS100016         Y
1     AS120257         Y
2     AS110041         Y
3     AS180293         Y
4     AS040107         Y
...        ...       ...
1285  AS400185         Y
1286  AS010122         Y
1287  AS000201         Y
1288  ASA00006         Y
1289  AS110390         Y

[1290 rows x 2 columns]

In [141]:
total_demands = total_demands[~total_demands["SKU_ID"].isin(assuta_items["SKU_ID"])].copy()

In [142]:
total_demands.fillna(3e-10,inplace=True)

In [143]:
total_demands

,SKU_ID,'01','02','03','04','05','06','07','08','09','10','11','12',TOTAL_FOR_YEAR,AVG_PER_MONTH,TRIGGER_QTY,MAXIMUM_QTY,QTY_ON_HAND,YEAR
0,NU802536,2.839000e+03,1.513000e+03,1.639000e+03,1.466000e+03,1.484000e+03,1.345000e+03,1.812000e+03,1.271000e+03,1.625000e+03,1.652000e+03,1.297000e+03,1.285000e+03,19228,1602.3,150.0,432,408,2018
1,14571184,1.214100e+04,1.156200e+04,1.036100e+04,1.341300e+04,9.324000e+03,1.270700e+04,8.893000e+03,8.776000e+03,7.812000e+03,1.586500e+04,1.709700e+04,1.798700e+04,145938,12161.5,1152.0,2304,1104,2018
2,RB038125,4.000000e+02,2.060000e+02,4.930000e+02,1.310000e+02,3.080000e+02,2.420000e+02,1.260000e+02,3.000000e-10,9.200000e+01,2.050000e+02,1.800000e+02,1.680000e+02,2551,212.6,24.0,48,0,2018
3,DS088381,9.540000e+02,6.360000e+02,6.780000e+02,3.300000e+02,5.280000e+02,3.600000e+02,5.460000e+02,4.920000e+02,5.340000e+02,9.480000e+02,3.504000e+03,1.026000e+03,10536,878.0,144.0,240,126,2018
4,DS088459,4.900000e+01,2.200000e+01,8.300000e+01,2.600000e+01,2.900000e+01,2.700000e+01,4.000000e+01,2.000000e+01,2.900000e+01,4.000000e+01,2.900000e+01,9.900000e+01,493,41.1,60.0,120,127,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3007,GS703250,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,1.200000e+01,9.900000e+01,2.100000e+01,3.900000e+01,2.400000e+01,2.300000e+01,218,18.2,56.0,112,60,2021
3008,WT420409,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e+00,3.000000e-10,3,0.3,20.0,40,47,2021
3009,SQ336060,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,4.400000e+01,44,3.7,28.0,56,30,2021
3010,0SK00441,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,1.700000e+01,17,1.4,240.0,480,259,2021
3011,JC577640,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,1.000000e+00,3.000000e-10,1,0.1,3.0,6,1,2021

In [144]:
# Add quarters columns
total_demands["Q1"] = total_demands["'01'"] + total_demands["'02'"] + total_demands["'03'"]
total_demands["Q2"] = total_demands["'04'"] + total_demands["'05'"] + total_demands["'06'"]
total_demands["Q3"] = total_demands["'07'"] + total_demands["'08'"] + total_demands["'09'"]
total_demands["Q4"] = total_demands["'10'"] + total_demands["'11'"] + total_demands["'12'"]

In [145]:
total_demands

,SKU_ID,'01','02','03','04','05','06','07','08','09',...,TOTAL_FOR_YEAR,AVG_PER_MONTH,TRIGGER_QTY,MAXIMUM_QTY,QTY_ON_HAND,YEAR,Q1,Q2,Q3,Q4
0,NU802536,2.839000e+03,1.513000e+03,1.639000e+03,1.466000e+03,1.484000e+03,1.345000e+03,1.812000e+03,1.271000e+03,1.625000e+03,...,19228,1602.3,150.0,432,408,2018,5.991000e+03,4.295000e+03,4.708000e+03,4234.0
1,14571184,1.214100e+04,1.156200e+04,1.036100e+04,1.341300e+04,9.324000e+03,1.270700e+04,8.893000e+03,8.776000e+03,7.812000e+03,...,145938,12161.5,1152.0,2304,1104,2018,3.406400e+04,3.544400e+04,2.548100e+04,50949.0
2,RB038125,4.000000e+02,2.060000e+02,4.930000e+02,1.310000e+02,3.080000e+02,2.420000e+02,1.260000e+02,3.000000e-10,9.200000e+01,...,2551,212.6,24.0,48,0,2018,1.099000e+03,6.810000e+02,2.180000e+02,553.0
3,DS088381,9.540000e+02,6.360000e+02,6.780000e+02,3.300000e+02,5.280000e+02,3.600000e+02,5.460000e+02,4.920000e+02,5.340000e+02,...,10536,878.0,144.0,240,126,2018,2.268000e+03,1.218000e+03,1.572000e+03,5478.0
4,DS088459,4.900000e+01,2.200000e+01,8.300000e+01,2.600000e+01,2.900000e+01,2.700000e+01,4.000000e+01,2.000000e+01,2.900000e+01,...,493,41.1,60.0,120,127,2018,1.540000e+02,8.200000e+01,8.900000e+01,168.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3007,GS703250,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,1.200000e+01,9.900000e+01,2.100000e+01,...,218,18.2,56.0,112,60,2021,9.000000e-10,9.000000e-10,1.320000e+02,86.0
3008,WT420409,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,...,3,0.3,20.0,40,47,2021,9.000000e-10,9.000000e-10,9.000000e-10,3.0
3009,SQ336060,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,...,44,3.7,28.0,56,30,2021,9.000000e-10,9.000000e-10,9.000000e-10,44.0
3010,0SK00441,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,...,17,1.4,240.0,480,259,2021,9.000000e-10,9.000000e-10,9.000000e-10,17.0
3011,JC577640,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,...,1,0.1,3.0,6,1,2021,9.000000e-10,9.000000e-10,9.000000e-10,1.0

### Winters Model

In [168]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from statsmodels.tsa.api import ExponentialSmoothing, SimpleExpSmoothing, Holt
import warnings
from tqdm import tqdm
warnings.filterwarnings("ignore")

%matplotlib inline

In [199]:
def seasonality (demand_series,seasonal_periods):
    fit = ExponentialSmoothing(demand_series,seasonal_periods=seasonal_periods,trend="add",seasonal="mul",use_boxcox=True,initialization_method="estimated").fit()
    # fit = ExponentialSmoothing(demand_series,seasonal_periods=4,trend="add",seasonal="mul",damped_trend=True,use_boxcox=True,initialization_method="estimated").fit(smoothing_level=0.5, smoothing_trend=0.5, smoothing_seasonal=0.5)
    results = pd.DataFrame(index=[r"$\alpha$", r"$\beta$", r"$\phi$", r"$\gamma$", r"$l_0$", "$b_0$", "SSE"])   
    params = ["smoothing_level","smoothing_trend","damping_trend","smoothing_seasonal","initial_level","initial_trend"]
    results["Multiplica Dam"] = [fit.params[p] for p in params] + [fit.sse]
    # print(results)
    fit = ExponentialSmoothing(demand_series,seasonal_periods=seasonal_periods,trend="add",seasonal="mul",initialization_method="estimated").fit()
    # fit = ExponentialSmoothing(demand_series,seasonal_periods=4,trend="add",seasonal="mul",damped_trend=True,initialization_method="estimated").fit(smoothing_level=0.5, smoothing_trend=0.5, smoothing_seasonal=0.5)
    df = pd.DataFrame(np.c_[aust, fit.level, fit.trend, fit.season, fit.fittedvalues], columns=['Y_t', 'L_t', 'B_t', 'S_t', 'Y_t_hat'],index=aust.index)
    # df.append(fit.forecast(8).rename(r"$/hat{y}_t$").to_frame(), sort=True)
    # a = pd.concat(df,df, ignore_index=True)
    return pd.concat([df['S_t'].iloc[:seasonal_periods],df['B_t'].iloc[:1]]).to_numpy()
    # return fit.forecast(8)
    # return df

# data = [0.0000000001,0.0000000001,0.0000000001,0.0000000001,0.0000000001,0.0000000001,0.0000000001,0.0000000001,30,20,100,120,20,10,130,110]
# index = pd.date_range(start="2005", end="2021", freq="Y")
# aust = pd.Series(data, index)
# print(seasonality(aust,4))

data = [10,40,110,100,20,30,100,110,40,10]
index = pd.date_range(start="2005", end="2015", freq="Y")
aust = pd.Series(data, index)
print(seasonality(aust,4))

[ 0.15476432  0.62269109  1.72251156  1.57522066 -0.37706953]

In [201]:
# call 'seasonality' for each SKU_ID (create seasonality and trend vector)
unique_sku_ids = total_demands['SKU_ID'].unique()[:30]
v_list = []
for i,k in tqdm(enumerate(unique_sku_ids)):
    try:
        data = total_demands[total_demands['SKU_ID'] == k].iloc[:,19:].to_numpy().reshape(-1)
        index = np.arange(len(data))
        aust = pd.Series(data, index)
        vector = seasonality(aust,4)
    except ValueError:
        new_data = np.concatenate([data, data])
        index = np.arange(len(new_data))
        aust = pd.Series(new_data, index)
        vector = seasonality(aust,4)
    v_list.append(vector)
df1 = pd.DataFrame(unique_sku_ids,columns=['SKU_ID'])
df2 = pd.DataFrame(v_list,columns=['C1','C2','C3','C4','trend'])
df3 = pd.concat([df1,df2],axis=1)
print('-----------------------')
df3
    # a = total_demands[total_demands['SKU_ID'] == k].iloc[:,18:].sort_values(by=['YEAR'],ascending=True)
    
    # if i == 'NU802536':
    # if i == 3:
    #     print(aust)

    
# print(len(total_demands['SKU_ID'].unique()))
# pd.nunique(total_demands['SKU_ID']).shape
# total_demands['SKU_ID'].value_counts().to_frame()
# 2898 X 4 = 11592
# 9084

30it [00:13,  2.15it/s]

-----------------------

      SKU_ID        C1        C2        C3        C4         trend
0   NU802536  1.179859  0.987570  1.064404  1.116292 -2.066735e+02
1   14571184  0.851989  1.025192  0.802074  1.320736 -2.256390e+02
2   RB038125  1.372444  1.768438  0.795731  1.092406 -4.737481e+01
3   DS088381  1.053020  0.638244  0.661521  1.957471 -9.766253e+01
4   DS088459  1.105864  0.993510  0.729161  1.422369  8.541970e-02
5   DS095617  0.998086  1.299178  0.783467  1.291357  2.601236e+00
6   2BK42310  0.970235  1.004707  1.002351  1.022655  1.529834e+03
7   3CK01011  0.959595  1.054309  1.034655  1.063917 -2.216944e+03
8   BI000209  1.172852  0.768438  1.090347  0.968376  4.193981e+01
9   BI000217  1.138242  0.998886  1.086913  0.943056  9.208631e+01
10  TP002577  1.225979  0.780601  0.774175  1.367739  3.183350e+01
11  RB400545  0.925803  1.615957  0.739553  0.718633  3.003347e+02
12  DS141659  0.896388  0.929508  0.890985  0.947553 -1.965271e+00
13  DS086752  1.364296  0.537200  0.715515  1.558973 -6.564978e-02
14  2CK05910  1.317194  0.957138  0.828475  0.897150  2.007119e+03
15  3NK61910  1.288916  0.733222  1.419546  0.558317  9.717850e-12
16  TAR36576  0.957340  1.194786  0.962511  0.995431 -9.655590e+01
17  TP204641  1.000579  1.128097  0.906828  0.977531  1.125524e+01
18  TP108619  1.130176  0.929595  0.880432  1.089405  4.789558e+00
19  1FU00013  1.125995  0.851526  1.168761  0.874102  4.019349e+01
20  I1349273  0.971599  1.090433  1.304853  1.411405 -6.565717e+01
21  I6002965  1.067093  0.988665  1.148427  0.946905  1.297308e+00
22  BI000162  1.256643  1.416218  0.935417  1.171638  1.829165e+02
23  TAR08758  1.047487  1.042363  0.933013  0.977118  4.421076e+01
24  RB866688  1.104503  0.599614  0.714170  1.581724 -8.373389e+00
25  NCH74048  0.889027  0.729536  1.020282  1.361112  1.254683e+02
26  MZ055709  1.381820  0.603079  0.469481  1.689921 -1.513435e+02
27  C2241881  1.144867  1.012646  1.485118  1.430492 -2.528316e+02
28  US000030  1.966570  2.452939  1.975226  0.456274 -1.905111e+00
29  C2241672  1.078283  0.806478  1.006008  1.109227 -6.529653e+02

In [ ]:
index = pd.date_range(years[0], str(int(years[-1])+1), freq='Q')
print(index)

DatetimeIndex(['2018-03-31', '2018-06-30', '2018-09-30', '2018-12-31',
               '2019-03-31', '2019-06-30', '2019-09-30', '2019-12-31',
               '2020-03-31', '2020-06-30', '2020-09-30', '2020-12-31',
               '2021-03-31', '2021-06-30', '2021-09-30', '2021-12-31'],
              dtype='datetime64[ns]', freq='Q-DEC')

In [ ]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from statsmodels.tsa.api import ExponentialSmoothing, SimpleExpSmoothing, Holt

%matplotlib inline

def seasonality (demand_series):
    # fit = ExponentialSmoothing(demand_series,seasonal_periods=4,trend="add",seasonal="mul",damped_trend=True,use_boxcox=True,initialization_method="estimated").fit()
    fit = ExponentialSmoothing(demand_series,seasonal_periods=4,trend="add",seasonal="mul",damped_trend=True,use_boxcox=True,initialization_method="estimated").fit()
    results = pd.DataFrame(index=[r"$\alpha$", r"$\beta$", r"$\phi$", r"$\gamma$", r"$l_0$", "$b_0$", "SSE"])   
    params = ["smoothing_level","smoothing_trend","damping_trend","smoothing_seasonal","initial_level","initial_trend"]
    results["Multiplica Dam"] = [fit.params[p] for p in params] + [fit.sse]
    # print(results)
    # fit = ExponentialSmoothing(demand_series,seasonal_periods=4,trend="add",seasonal="mul",damped_trend=True,initialization_method="estimated").fit()
    fit = ExponentialSmoothing(demand_series,seasonal_periods=4,trend="add",seasonal="mul",damped_trend=True,initialization_method="estimated").fit()
    df = pd.DataFrame(np.c_[aust, fit.level, fit.trend, fit.season, fit.fittedvalues], columns=[r"$y_t$", r"$l_t$", r"$b_t$", r"$s_t$", r"$\hat{y}_t$"],index=aust.index,)
    df.append(fit.forecast(8).rename(r"$\hat{y}_t$").to_frame(), sort=True)
 
    

data = [446.6565,454.4733,455.663,423.6322,456.2713,440.5881,425.3325,485.1494,506.0482,526.792,514.2689,494.211,]
index = pd.date_range(start="1996", end="2008", freq="A")
oildata = pd.Series(data, index)

data = [17.5534,21.86,23.8866,26.9293,26.8885,28.8314,30.0751,30.9535,30.1857,31.5797,32.5776,33.4774,39.0216,41.3864,41.5966,]
index = pd.date_range(start="1990", end="2005", freq="A")
air = pd.Series(data, index)

data = [263.9177,268.3072,260.6626,266.6394,277.5158,283.834,290.309,292.4742,300.8307,309.2867,318.3311,329.3724,338.884,339.2441,328.6006,314.2554,
    314.4597,321.4138,329.7893,346.3852,352.2979,348.3705,417.5629,417.1236,417.7495,412.2339,411.9468,394.6971,401.4993,408.2705,414.2428,]
index = pd.date_range(start="1970", end="2001", freq="A")
livestock2 = pd.Series(data, index)

data = [407.9979, 403.4608, 413.8249, 428.105, 445.3387, 452.9942, 455.7402]
index = pd.date_range(start="2001", end="2008", freq="A")
livestock3 = pd.Series(data, index)

# data = [41.7275,24.0418,32.3281,37.3287,46.2132,29.3463,36.4829,42.9777,48.9015,31.1802,37.7179,40.4202,51.2069,31.8872,40.9783,43.7725,
#     55.5586,33.8509,42.0764,45.6423,59.7668,35.1919,44.3197,47.9137,]
# data = [5.5,5.625,5.5,9.05,5.175,5.4,4.95,8.25,4.775,4.825]
data = [2,3,10,11,1,4,11,10,3,2]
# index = pd.date_range(start="2005", end="2010-Q4", freq="QS-OCT")
index = pd.date_range(start="2005", end="2015", freq="Y")
aust = pd.Series(data, index)
print(aust)

2005-12-31     2
2006-12-31     3
2007-12-31    10
2008-12-31    11
2009-12-31     1
2010-12-31     4
2011-12-31    11
2012-12-31    10
2013-12-31     3
2014-12-31     2
Freq: A-DEC, dtype: int64

In [ ]:
aust = np.array([2,3,10,11,1,4,11,10,3,2])
fit1 = ExponentialSmoothing(aust,seasonal_periods=4,trend="add",seasonal="add",use_boxcox=True,initialization_method="estimated",).fit()
fit2 = ExponentialSmoothing(aust,seasonal_periods=4,trend="add",seasonal="mul",use_boxcox=True,initialization_method="estimated",).fit()
fit3 = ExponentialSmoothing(aust,seasonal_periods=4,trend="add",seasonal="add",damped_trend=True,use_boxcox=True,initialization_method="estimated",).fit()
fit4 = ExponentialSmoothing(aust,seasonal_periods=4,trend="add",seasonal="mul",damped_trend=True,use_boxcox=True,initialization_method="estimated",).fit()
results = pd.DataFrame(index=[r"$/alpha$", r"$/beta$", r"$/phi$", r"$/gamma$", r"$l_0$", "$b_0$", "SSE"])
params = ["smoothing_level","smoothing_trend","damping_trend","smoothing_seasonal","initial_level","initial_trend",]
results["Additive"] = [fit1.params[p] for p in params] + [fit1.sse]
results["Multiplicative"] = [fit2.params[p] for p in params] + [fit2.sse]
results["Additive Dam"] = [fit3.params[p] for p in params] + [fit3.sse]
results["Multiplica Dam"] = [fit4.params[p] for p in params] + [fit4.sse]

# ax = aust.plot(figsize=(10, 6),marker="o",color="black",title="Forecasts from Holt-Winters' multiplicative method",)
# ax.set_ylabel("International visitor night in Australia (millions)")
# ax.set_xlabel("Year")
# fit1.fittedvalues.plot(ax=ax, style="--", color="red")
# fit2.fittedvalues.plot(ax=ax, style="--", color="green")

# fit1.forecast(8).rename("Holt-Winters (add-add-seasonal)").plot(ax=ax, style="--", marker="o", color="red", legend=True)
# fit2.forecast(8).rename("Holt-Winters (add-mul-seasonal)").plot(ax=ax, style="--", marker="o", color="green", legend=True)

# plt.show()
# print("Figure 7.6: Forecasting international visitor nights in Australia using Holt-Winters method with both additive and multiplicative seasonality.")

results

              Additive  Multiplicative  Additive Dam  Multiplica Dam
$/alpha$  1.490116e-08    1.490116e-08  1.490116e-08    1.490116e-08
$/beta$   1.490083e-08    2.976556e-10  1.490083e-08    2.976391e-10
$/phi$             NaN             NaN  9.856090e-01    9.950000e-01
$/gamma$  0.000000e+00    2.439094e-16  4.672103e-17    0.000000e+00
$l_0$     1.813135e+00    1.856335e+00  1.813235e+00    1.857466e+00
$b_0$     1.416478e-07   -9.872587e-03 -1.214876e-05   -1.001697e-02
SSE       5.107737e+00    5.254750e+00  5.107550e+00    5.252240e+00

In [ ]:
# %pip install statsmodels
# import statsmodels.api
from statsmodels.tsa.holtwinters import ExponentialSmoothing

# from statsmodels.tsa.api import ExponentialSmoothing, SimpleExpSmoothing, Holt

In [ ]:
# Set the value of Alpha and define m (Time Period)
m = 12
alpha = 1/(2*m)
a=[5.5,5.625,5.5,9.05,5.175,5.4,4.95,8.25,4.775,4.825]
# b = ExponentialSmoothing(a,trend='mul',seasonal='mul',seasonal_periods=4,initialization_method="estimated").fit()
# # initial_values(a)
# print(ExponentialSmoothing.initial_values(b))

In [ ]:
fit = ExponentialSmoothing(a, seasonal_periods=4, trend='mul', seasonal='mul', initialization_method="estimated").fit()
simulations = fit.simulate(5, repetitions=100, error='mul')
fit.fittedvalues.plot(ax=ax, style='--', color='green')
simulations.plot(ax=ax, style='-', alpha=0.05, color='grey', legend=False)
fit.forecast(8).rename('Holt-Winters (add-mul-seasonal)').plot(ax=ax, style='--', marker='o', color='green', legend=True)

C:\Users\omery\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\statsmodels\tsa\holtwinters\model.py:915: ConvergenceWarning: Optimization failed to converge. Check mle_retvals.
  warnings.warn(

AttributeError: 'numpy.ndarray' object has no attribute 'plot'

In [ ]:
airline[â€˜HWES3_MULâ€™] = ExponentialSmoothing(airline[â€˜Thousands of Passengersâ€™],trend=â€™mulâ€™,seasonal=â€™mulâ€™,
                                            seasonal_periods=12).fit().
fittedvalues
airline[[â€˜Thousands of Passengersâ€™,â€™HWES3_ADDâ€™,â€™HWES3_MULâ€™]].plot(title=â€™Holt Winters Triple Exponential Smoothing: Additive and Multiplicative Seasonalityâ€™);

In [ ]:
# a=list(total_demands["SKU_ID"])
# for i in a:
#     if "AS" in str(i):
#         print(i)

In [ ]:
# Group A - find the ~20% with highest demands
# for every product, calculate the average demand for the 4 years
annual_avg = ((total_demands.groupby("SKU_ID")["TOTAL_FOR_YEAR"].sum())/4).to_frame()
annual_avg.columns = ['YEARLY_AVG']
annual_avg.reset_index(inplace=True)
# annual_avg.head()

In [ ]:
annual_avg